@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(27, 38, 54, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
}

.TodoWrapper {
    background: #1A1A40;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    border-radius: 5px;
}

.TodoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input {
    width: 300px;
}

.todo-input-priority{
    width: 180px;
}

.todo-input, .todo-input-data, .todo-input-time, .todo-input-priority{
    border-radius: 0.5rem;
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 40px;
    color: white;
    font-size: 15px;
}

.Todo div span {
    margin-right: 10px;
    color: white;
}

.todo-input-time{
    margin-right: 0.3rem;
    width: 150px;
}

.todo-input-data {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 170px;
}

.todo-input::placeholder {
    color: #ffffff4d;
}

.todo-btn {
    background: #8758ff;
    color: #fff;
    height: 40px;
    border: none;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.50rem;
    cursor: pointer;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fa-trash {
    margin-left: 0.75rem;
}

.incompleted {
    color: #fff;
    cursor: pointer;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
}

.fa-trash{
    width: 17px;
}

.fa-pen{
    width: 17px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
}

.close-btn{
    background-color: darkred;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.2rem 1rem;
    color: white;
}

.active-task, .complete-task {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
}

.priority-high {
    background-color: darkred;
}
.priority-medium {
    background-color: #8758ff;
}
.priority-low {
    background-color: #59B366;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}

.completed-task {
    background: #6a38ff;
}

.priority-info {
    background-color: #1A1A40;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 1rem;
}

.priority-info h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.priority-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.priority-label {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.priority-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.priority-color.high {
    background-color: darkred;
}

.priority-color.medium {
    background-color: #8758ff;
}

.priority-color.low {
    background-color: #59B366;
}

